.child {
background-color: rgb(255, 0, 0);
text-decoration: none ;
}
.con{
    padding-top: 100px;
    padding-left: 45%;
}
.but{
    border-radius:1.3em ;
    background-color: gray;
    color: white;
    width: 190px;
    height: 45px;
}
.log{
    padding-top: 100px;
    padding-bottom: 40px;
}
.des{
    border-radius: 0.7em;
    border-color: rgb(0, 0, 0);
}