<body>
  <div class="con">
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - chandelier_PNG71.png" style="width:250px; height:187px">
        </div>
        <h2 class="mb-2 text-md text-center">Люстра</h2>
        <p>Цена: <span class="font-bold">{{ 10999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(1)" class="btn btn-success" >Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - watches_PNG101444.png" style="width:250px; height:187px">
        </div>
        <h2 class="mb-2 text-md text-center">Часы</h2>
        <p>Цена: <span class="font-bold">{{ 5999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(2)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - iphone_12_PNG23.png" style="width:250px; height:187px">
      </div> 
        <h2 class="mb-2 text-md text-center">Iphone 14</h2>
        <p>Цена: <span class="font-bold">{{ 128999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(3)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - washing_machine_PNG101461.png" style="width:200px; height:150px">
      </div>
        <h2 class="mb-2 text-md text-center">Стиральная машина</h2>
        <p>Цена: <span class="font-bold">{{ 12000 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(4)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    
  </div>
  <div class="con">
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - chandelier_PNG71.png" style="width:250px; height:187px">
        </div>
        <h2 class="mb-2 text-md text-center">Люстра</h2>
        <p>Цена: <span class="font-bold">{{ 10999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(1)" class="btn btn-success" >Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - watches_PNG101444.png" style="width:250px; height:187px">
        </div>
        <h2 class="mb-2 text-md text-center">Часы</h2>
        <p>Цена: <span class="font-bold">{{ 5999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(2)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - iphone_12_PNG23.png" style="width:250px; height:187px">
      </div> 
        <h2 class="mb-2 text-md text-center">Iphone 14</h2>
        <p>Цена: <span class="font-bold">{{ 128999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(3)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - washing_machine_PNG101461.png" style="width:200px; height:150px">
      </div>
        <h2 class="mb-2 text-md text-center">Стиральная машина</h2>
        <p>Цена: <span class="font-bold">{{ 12000 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(4)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    
  </div>
  <div class="con">
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - chandelier_PNG71.png" style="width:250px; height:187px">
        </div>
        <h2 class="mb-2 text-md text-center">Люстра</h2>
        <p>Цена: <span class="font-bold">{{ 10999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(1)" class="btn btn-success" >Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - watches_PNG101444.png" style="width:250px; height:187px">
        </div>
        <h2 class="mb-2 text-md text-center">Часы</h2>
        <p>Цена: <span class="font-bold">{{ 5999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(2)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - iphone_12_PNG23.png" style="width:250px; height:187px">
      </div> 
        <h2 class="mb-2 text-md text-center">Iphone 14</h2>
        <p>Цена: <span class="font-bold">{{ 128999 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(3)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    <div class="карточка">
      <div class="py-4 px-6 border rounded flex items-center flex-col">
        <div class="img">
        <img src="../../assets/pngimg.com - washing_machine_PNG101461.png" style="width:200px; height:150px">
      </div>
        <h2 class="mb-2 text-md text-center">Стиральная машина</h2>
        <p>Цена: <span class="font-bold">{{ 12000 | currency:'₽ ' }}</span></p>
        <div сlass="abc">
          <button type="button" (click)="buy(4)" class="btn btn-success">Купить</button>
        </div>
      </div>
    </div>
    
  </div>
  

<div class="bg-success text-light pt 5 pb 4 footer">
  <div class="container text-center text-md-left">
    <div class="row text-center text-md-left">
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-light">Moscow</h5>
        <p>Michurinskiy prospekt 27,<br>
          area Ramenki 17.11.2022<br>
          info@mail.ru</p>
        <a href="#" class="btn btn-outline-danger ">
          <h5>8(800)555-35-35</h5>
        </a>
      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-4">
        <h5 class="text-uppercase mb-4 font-weight-bold text-light">Russia</h5>
        <p>Michurinskiy prospekt 27,<br>
          area Ramenki 17.11.2022<br>
          info@mail.ru</p>
        <a href="#" class="btn btn-outline-danger ">
          <h5>8(800)555-35-35</h5>
        </a>
      </div>



      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-light">Stay Connected</h5>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Enter your mail" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Sign Up</button>
        </form>
        <p class="my-2">Stay connect with us to get exclusive offer!</p>
      </div>
      <hr class="mb-4">
      <div class="row align-items-center">
        <div class="col-md-7 col-lg-8 ">
          <p>☺ 2022 – 2022 «ООО» MarketPlace. Все права защищены.

          </p>
        </div>

      </div>